<nav class="navbar">
    <div class="nav-container container">
        <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav-item"
        >
            <div class="icon">
                <svg lucideIcon="home"></svg>
            </div>
            <span>Вдохновение</span>
        </a>

        <a routerLink="/my-duas" routerLinkActive="active" class="nav-item">
            <div class="icon">
                <svg lucideIcon="book-open"></svg>
            </div>
            <span>Мои ду‘а</span>
        </a>

        <a routerLink="/answers" routerLinkActive="active" class="nav-item">
            <div class="icon">
                <svg lucideIcon="check-circle"></svg>
            </div>
            <span>Ответы</span>
        </a>
    </div>
</nav>
