<nav class="navbar">
    <div class="nav-container container">
        <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav-item"
        >
            <div class="icon">
                <svg lucideIcon="house"></svg>
            </div>
            <span>Вдохновение</span>
        </a>

        <a routerLink="/library" routerLinkActive="active" class="nav-item">
            <div class="icon">
                <svg lucideIcon="library"></svg>
            </div>
            <span>Сборник</span>
        </a>

        <a routerLink="/my-duas" routerLinkActive="active" class="nav-item">
            <div class="icon">
                <svg lucideIcon="book-open"></svg>
            </div>
            <span>Мои ду‘а</span>
        </a>

        <a routerLink="/archive" routerLinkActive="active" class="nav-item">
            <div class="icon">
                <svg lucideIcon="archive"></svg>
            </div>
            <span>Архив</span>
        </a>
    </div>
</nav>
